<div id="modalConfirmDelete" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <!---->
        <div class="modal-content p-4">
            <div class="modal-header">
                <h5 class="modal-title titleConfirmDelete"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="titleConfirmDelete"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal"
                        style="width: 5rem">Hủy
                </button>

                <div class="btn btn-danger d-flex justify-content-center align-items-center" id="btnConfirmDelete"
                     style="width: 5rem">
                    <div id="loading" class="spinner-border spinner-border-sm mr-1"
                         style="display: none" role="status">
                    </div>
                    Xóa
                </div>
            </div>
        </div>
    </div>


</div>
